
body {
    background-color: rgba(65, 53, 53, 0.447);
}

.content {
    width: 90%;
    max-width: 1000;
    margin: 1em auto;
    display: grid;
    page-break-inside: 2em;
    grid-template-columns: repeat(5, 1fr);
}

.container > .content,
.container > .sidebar,
.container > div {
    padding: 20px;
    border: 1px solid #1b1a1a;
}

.container > .content {
    grid-column: span 3;
    gap: 2em;
}

.content > article {
    padding: 15px;
    height: -20%;
}

.content .article h1,
.content .article p {
    padding: 35px;
    color: #000000;
}


.icon-nav:hover {
    transform: translateY(0.3em);
  }

.navbar {
    background-color: #5e6b7a;
}
  .navbar .navbar-brand {
    color: #ffffff;
}
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #c8c3ce;
  }
  .navbar .navbar-text {
    color: #ffffff;
  }
  .navbar .navbar-text a {
    color: #c8c3ce;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #c8c3ce;
  }
  .navbar .navbar-nav .nav-link {
    color: rgba(2, 2, 2, 0.831);
    border-radius: .25rem;
    /* margin: 0 0.25em; */
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: rgba(228, 131, 51, 0.892);

  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #5e6b7a;
    border-color: #ebf1f4;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #c8c3ce;
    background-color: #ebf1f4;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #ebf1f4;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #c8c3ce;
    background-color: #ebf1f4;
  }
  .navbar .navbar-toggler {
    border-color: #ebf1f4;
  }
  .navbar .navbar-toggler:hover,
  .navbar .navbar-toggler:focus {
    background-color: #ebf1f4;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #ffffff;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ffffff;
  }
  .navbar .navbar-link {
    color: #ffffff;
  }
  .navbar .navbar-link:hover {
    color: #c8c3ce;
  }

  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c8c3ce;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c8c3ce;
      background-color: #ebf1f4;
    }
  }

  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c8c3ce;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c8c3ce;
      background-color: #ebf1f4;
    }
  }

  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c8c3ce;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c8c3ce;
      background-color: #ebf1f4;
    }
  }

  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c8c3ce;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c8c3ce;
      background-color: #ebf1f4;
    }
  }

  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #c8c3ce;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #c8c3ce;
    background-color: #ebf1f4;
  }