
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

body {
    background-color: rgba(65, 53, 53, 0.447);
}

.icon-nav:hover {
    transform: translateY(0.3em);
}

main {
  max-width: 50em;
  width: 90%;
  margin:auto;
  padding: 3em;
}

.formulary {
  border-radius: 0.18em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25em;
}

.formulary__label {
  display: block;
  font-weight: 700;
  padding: 0.65em;
  cursor: pointer;
}

.formulary__group-input {
  position: relative;
}

.formulary__input {
  width: 100%;
  background: rgba(247, 243, 243, 0.774);
  border: 0.18em solid transparent;
  border-radius: 0.18em;
  height: 2.18em;
  line-height: 2.18em;
  padding: 0 2.5em 0 0.62em;
  transition: .3s ease all;
}

.formulary__input:focus {
  border: 0.18em solid #aeb4b6;
  outline: none;
  box-shadow: 0.18em 0em 1.87em rgba(163, 163, 163, 0.4 );
}

.formulary__input-error {
  font-size: 0.75em;
  margin-bottom: 0;
  display: none;
}

.formulary__input-error-activo {
  display: block;
}

.formulary__validation-state {
  position: absolute;
  right: 0.62em;
  top: 0.37em;
  bottom: 0.93em;
  z-index: 100;
  font-size: 1em;
  opacity: 0;
}

.formulary__checkbox {
  margin-right: 0.62em;
}

.formulary__group-terms,
.formulary__message,
.formulary__group-btn-send {
    grid-column: span 2;
}

.formulary__message {
    height: 2.18em;
    line-height: 2.18em;
    background: #F66060;
    padding: 0 0.93em;
    border-radius: 0.18em;
    display: none;
}

.formulary__message-activo {
  display: block;
}

.formulary__message p {
  margin: 0;
}

.formulary__group-btn-send {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulary__btn {
  height: 2.18em;
  line-height: 2.18em;
  width: 30%;
  background: rgba(247, 243, 243, 0.774);
  box-shadow: 0.18em 0em 1.87em rgba(163, 163, 163, 1);
  font-weight: bold;
  border: none;
  border-radius: 0.18em;
  cursor: pointer;
  transition: .1s ease all;
}

.formulary__btn:hover {
  box-shadow: 0.18em 0em 1.87em rgba(163, 163, 163, 1);
}

.formulary__message-succes {
  font-size: 0.87em;
  color: #119200;
  display: none;
}
.formulary__textarea {
  background: rgba(247, 243, 243, 0.774);
  border: 0.18em solid #aeb4b6;
}
.formulary__message-succes-activo {
  display: block;
}


.formulary__group-correct .formulary__validation-state {
  color: #1ed12d;
  opacity: 1;
}

.formulary__group-uncorrect .formulary__label {
  color: #bb2929;
}

.formulary__group-uncorrect .formulary__validation-state {
  color: #bb2929;
  opacity: 1;
}

.formulary__group-uncorrect .formulary__input {
  border: 0.18em solid #bb2929;
}

@media screen and (max-width: 800px) {
  .formulary {
      grid-template-columns: 1fr;
  }

  .formulary__group-terms,
  .formulary__message,
  .formulary__group-btn-send {
      grid-column: 1;
  }

  .formulary__btn {
      width: 100%;
  }
}

.navbar {
    background-color: #5e6b7a;
  }
  .navbar .navbar-brand {
    color: #ffffff;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #c8c3ce;
  }
  .navbar .navbar-text {
    color: #ffffff;
  }
  .navbar .navbar-text a {
    color: #c8c3ce;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #c8c3ce;
  }
  .navbar .navbar-nav .nav-link {
    color: rgba(2, 2, 2, 0.831);
    border-radius: .25rem;
    /* margin: 0 0.25em; */
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: rgba(228, 131, 51, 0.892);

  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #5e6b7a;
    border-color: #ebf1f4;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #c8c3ce;
    background-color: #ebf1f4;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #ebf1f4;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #c8c3ce;
    background-color: #ebf1f4;
  }
  .navbar .navbar-toggler {
    border-color: #ebf1f4;
  }
  .navbar .navbar-toggler:hover,
  .navbar .navbar-toggler:focus {
    background-color: #ebf1f4;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #ffffff;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ffffff;
  }
  .navbar .navbar-link {
    color: #ffffff;
  }
  .navbar .navbar-link:hover {
    color: #c8c3ce;
  }

  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c8c3ce;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c8c3ce;
      background-color: #ebf1f4;
    }
  }

  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c8c3ce;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c8c3ce;
      background-color: #ebf1f4;
    }
  }

  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c8c3ce;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c8c3ce;
      background-color: #ebf1f4;
    }
  }

  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c8c3ce;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c8c3ce;
      background-color: #ebf1f4;
    }
  }

  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #c8c3ce;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #c8c3ce;
    background-color: #ebf1f4;
  }