/*
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    direction: rtl;
} */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

body {
    background-color: rgba(65, 53, 53, 0.447);
}

.space {
    width: 52em;
    position: relative;
    height: 1em;
}
/* .container-all {
    width: 62.5em;
    height: 22em;
    top: 9em;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: solid black;
} */
.container-all {
    /* max-width: 82.5em; */
    width: 21em;
    margin: auto;
    margin-top: 6.25em;
    /* border: solid black; */
    width: 90vw;
}

.container-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    justify-content: center;
}

.container-box .link {
    text-decoration: none;
    color: black;
}

.box {
    width: 18em;
    height: 21em;
    padding: 1.2em;
    margin: 1.25em;
    background-color: rgb(227, 212, 212);
    text-align: center;
    top: 0em;
    left: 0em;
    position: relative;
    overflow: hidden;
    justify-content: space-evenly;
    display: flex;
    cursor: pointer;
    transition: 200ms;
}

.box:hover {
    transform: translate(1em, -4em);
    box-shadow: -62.25em 62.25em 1.25em -62.25em rgba(57, 52, 52, 0.845);
}

.box .icon,
.box h4,
.box p {
    position: relative;
    z-index: 1;
    transition: all 550ms;
}

.box .icon {
    font-size: 2.5em;
    top: 0em;
    left: 4.5em;
    color: rgb(24, 62, 94);
    transform: translateY(0.6em);
}

.box:hover .icon {
    color: white;
    font-size: 1.98em;
    left: 2.8em;
    transform: translateY(0em);
}

.box h4,
.box p {
    margin-top: 2.5em;
}

.box h4 {
    font-size: 1.87em;
    transform: translateY(0.6em);
    top: 1em;
    right: 1em;
}

.box:hover h4 {
    transform: translateY(0em);
    color: #fff;
    top: 0em;
    left: 1em;
}

.box p {
    font-size: 0.97em;
    transform: translateY(6.25em);
    opacity: 0;
}

.box:hover p {
    transform: translateY(7.24em);
    opacity: 1;
    color: #fff;
    right: 5.8em;
}

.box .background-hover {
    width: 7.25em;
    height: 7.25em;
    position: absolute;
    background-color: rgba(230, 99, 52, 0.797);
    top: 29.6em;
    left: -9em;
    border-radius: 100%;
    transition: all 300ms;
    background: linear-gradient(to bottom, rgba(228, 131, 51, 0.892), rgba(235, 143, 46, 0.879));
}

.box:hover .background-hover {
    width: 67em;
    height: 67em;
    top: -9.80em;
    left: -9.80em;
}



.navbar {
    background-color: #5e6b7a;
  }
  .navbar .navbar-brand {
    color: #ffffff;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #c8c3ce;
  }
  .navbar .navbar-text {
    color: #ffffff;
  }
  .navbar .navbar-text a {
    color: #c8c3ce;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #c8c3ce;
  }
  .navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #c8c3ce;
  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #5e6b7a;
    border-color: #ebf1f4;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #c8c3ce;
    background-color: #ebf1f4;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #ebf1f4;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #c8c3ce;
    background-color: #ebf1f4;
  }
  .navbar .navbar-toggler {
    border-color: #ebf1f4;
  }
  .navbar .navbar-toggler:hover,
  .navbar .navbar-toggler:focus {
    background-color: #ebf1f4;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #ffffff;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ffffff;
  }
  .navbar .navbar-link {
    color: #ffffff;
  }
  .navbar .navbar-link:hover {
    color: #c8c3ce;
  }

  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c8c3ce;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c8c3ce;
      background-color: #ebf1f4;
    }
  }

  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c8c3ce;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c8c3ce;
      background-color: #ebf1f4;
    }
  }

  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c8c3ce;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c8c3ce;
      background-color: #ebf1f4;
    }
  }

  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c8c3ce;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c8c3ce;
      background-color: #ebf1f4;
    }
  }

  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #c8c3ce;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #c8c3ce;
    background-color: #ebf1f4;
  }