/*
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    direction: rtl;
} */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

/* .container-all {
    width: 62.5em;
    height: 22em;
    top: 9em;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: solid black;
} */
.container-all {
    max-width: 62.5em;
    margin: auto;
    margin-top: 6.25em;
    /* background-color: red; */
}

.container-box {
    display: flex;
    height: 4em;
    width: 4em;
    justify-content: center;
    left: 5em;
    top: 6em;
}

.container-box .link {
    text-decoration: none;
    color: black;
}

.box {
    width: 62em;
    height: 20em;
    padding: 1.2em;
    margin: 1.25em;
    background-color: #fff;
    text-align: center;
    left: 2em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 200ms;
}

.box:hover {
    transform: translate(4em, -4em);
    box-shadow: -62.25em 62.25em 1.25em -62.25em rgba(57, 52, 52, 0.845);
}