
body {
  background-color: rgba(65, 53, 53, 0.447);
}

.content-all {
  width: 12em;
  height: 10em;
  perspective: 62.5em;
  margin: auto;
  position: relative;
  margin-top: 7.12em;
  left: 1em;
}

.icon-nav:hover {
  transform: translateY(0.3em);
}

.content-carousel {
  width: 80%;
  position: absolute;
  animation: rotate 40s infinite linear;
  transform-style: preserve-3d;
  cursor: pointer;
}

.content-carousel:hover {
  /* animation-direction: reverse; */
  animation-play-state: paused;
}

.content-carousel figure {
  /* top: 9em; */
  width: 100%;
  height: auto;
  overflow: hidden;
  position: absolute;
  box-shadow: 0em 0em 1.25em 0em black;
  transition: all 300ms;
}

.content-carousel figure:hover {
  box-shadow: 0em 0em 0em black;
  transition: all 300ms;
}

.content-carousel figure:nth-child(1) { transform: rotateY(0deg) translate(4.5em); }
.content-carousel figure:nth-child(2) { transform: rotateY(40deg) translate(4.5em); }
.content-carousel figure:nth-child(3) { transform: rotateY(80deg) translate(4.5em); }
.content-carousel figure:nth-child(4) { transform: rotateY(120deg) translate(4.5em); }
.content-carousel figure:nth-child(5) { transform: rotateY(160deg) translate(4.5em); }
.content-carousel figure:nth-child(6) { transform: rotateY(200deg) translate(4.5em); }
.content-carousel figure:nth-child(7) { transform: rotateY(240deg) translate(4.5em); }
.content-carousel figure:nth-child(8) { transform: rotateY(280deg) translate(4.5em); }
.content-carousel figure:nth-child(9) { transform: rotateY(320deg) translate(4.5em); }


.content-carousel img {
  width: 100%;
  transition: all 300ms;
}

.content-carousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotate {
  from{
      transform: rotateY(0deg);
  } to{
      transform: rotateY(360deg);
  }
}

@media screen and (min-width: 39.5em) {

  .content-all {
      width: 23em;
      height: 11em;
      top: 12em;
      perspective: 62.5em;
      margin: auto;
      position: relative;
      margin-top: 3.12em;
  }

  .icon-nav:hover {
    transform: translateY(0.3em);
  }

  .content-carousel {
      width: 100%;
      position: absolute;
      animation: rotate 50s infinite linear;
      transform-style: preserve-3d;
      cursor: pointer;
  }

  .content-carousel:hover {
      /* animation-direction: reverse; */
      animation-play-state: paused;
  }

  .content-carousel figure {
      /* top: 9em; */
      width: 100%;
      height: 7.5em;
      overflow: hidden;
      position: absolute;
      box-shadow: 0em 0em 1.25em 0em black;
      transition: all 300ms;
  }

  .content-carousel figure:hover {
      box-shadow: 0em 0em 0em black;
      transition: all 300ms;
  }

  .content-carousel figure:nth-child(1) { transform: rotateY(0deg) translate(18.75em); }
  .content-carousel figure:nth-child(2) { transform: rotateY(40deg) translate(18.75em); }
  .content-carousel figure:nth-child(3) { transform: rotateY(80deg) translate(18.75em); }
  .content-carousel figure:nth-child(4) { transform: rotateY(120deg) translate(18.75em); }
  .content-carousel figure:nth-child(5) { transform: rotateY(160deg) translate(18.75em); }
  .content-carousel figure:nth-child(6) { transform: rotateY(200deg) translate(18.75em); }
  .content-carousel figure:nth-child(7) { transform: rotateY(240deg) translate(18.75em); }
  .content-carousel figure:nth-child(8) { transform: rotateY(280deg) translate(18.75em); }
  .content-carousel figure:nth-child(9) { transform: rotateY(320deg) translate(18.75em); }


  .content-carousel img {
      width: 100%;
      transition: all 300ms;
  }

  .content-carousel img:hover {
      transform: scale(1.2);
      transition: all 300ms;
  }

  @keyframes rotate {
      from{
          transform: rotateY(0deg);
      } to{
          transform: rotateY(360deg);
      }
  }
}

.navbar {
    background-color: #5e6b7a;
}
  .navbar .navbar-brand {
    color: #ffffff;
}
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #c8c3ce;
  }
  .navbar .navbar-text {
    color: #ffffff;
  }
  .navbar .navbar-text a {
    color: #c8c3ce;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #c8c3ce;
  }
  .navbar .navbar-nav .nav-link {
    color: rgba(2, 2, 2, 0.831);
    border-radius: .25rem;
    /* margin: 0 0.25em; */
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: rgba(228, 131, 51, 0.892);

  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #5e6b7a;
    border-color: #ebf1f4;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #c8c3ce;
    background-color: #ebf1f4;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #ebf1f4;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #c8c3ce;
    background-color: #ebf1f4;
  }
  .navbar .navbar-toggler {
    border-color: #ebf1f4;
  }
  .navbar .navbar-toggler:hover,
  .navbar .navbar-toggler:focus {
    background-color: #ebf1f4;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #ffffff;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ffffff;
  }
  .navbar .navbar-link {
    color: #ffffff;
  }
  .navbar .navbar-link:hover {
    color: #c8c3ce;
  }

  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c8c3ce;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c8c3ce;
      background-color: #ebf1f4;
    }
  }

  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c8c3ce;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c8c3ce;
      background-color: #ebf1f4;
    }
  }

  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c8c3ce;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c8c3ce;
      background-color: #ebf1f4;
    }
  }

  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #c8c3ce;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #c8c3ce;
      background-color: #ebf1f4;
    }
  }

  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #c8c3ce;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #c8c3ce;
    background-color: #ebf1f4;
  }